.graph_object {
    width: 100%;
    height: 100%;
    stroke-width: 3px;
    background: #f3f3f3;
}
.graph_object path {
    fill: none;
}
.graph_object circle {
    stroke: none;
    stroke-width: 0;
}